
.lp-oc-i {
  margin: -15px -8px;
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
  font-family: 'Poppins', sans-serif;

  p {
    font-size: 1.8vw;
    line-height: 2.2vw;
    font-weight: 400;
      @media (max-width: 767px) {
        font-size: 12px;
        line-height: 16px;
      }
      @media (min-width: 1350px) {
        font-size: 20px;
        line-height: 28px;
      }
  }
  h2 {
    font-weight: 100;
    font-size: 4.2vw;
    line-height: 4.6vw; 
      @media (max-width: 767px) {
        font-size: 26px;
        line-height: 34px;
      }
      @media (min-width: 1350px) {
        font-size: 60px;
        line-height: 79px;
      }
  }

  .mobile {
  @media (min-width: 768px) {
      display: none!important;
    }
  }
  .desktop {
    @media (max-width: 767px) {
        display: none!important;
    }
  }
  .SMmobile {
    @media (min-width: 577px) {
      display: none!important;
    }
  }
  .SMdesktop {
    @media (max-width: 576px) {
        display: none!important;
    }
  }

  a {
    text-decoration: none;
  }
  
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }


// media query
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 75px; 
  @media (max-width: 767px) {
    padding: 0 30px; 
  }
}


  * {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
  }

  @media (max-width: 576px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
  }
  
  @media (min-width: 577px) and (max-width: 767px){
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

 }
 
 @media (min-width: 768px) and (max-width: 1023px){
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}

 }
 
 @media (min-width: 1024px) {

  .col-lg-1 {width: 8.33%; max-width: 1350px;}
  .col-lg-2 {width: 16.66%; max-width: 1350px;}
  .col-lg-3 {width: 25%; max-width: 1350px;}
  .col-lg-4 {width: 33.33%; max-width: 1350px;}
  .col-lg-5 {width: 41.66%; max-width: 1350px;}
  .col-lg-6 {width: 50%; max-width: 1350px;}
  .col-lg-7 {width: 58.33%; max-width: 1350px;}
  .col-lg-8 {width: 66.66%; max-width: 1350px;}
  .col-lg-9 {width: 75%; max-width: 1350px;}
  .col-lg-10 {width: 83.33%; max-width: 1350px;}
  .col-lg-11 {width: 91.66%; max-width: 1350px;}
  .col-lg-12 {width: 100%; max-width: 1350px;}

 }

.header {
  &__container {
    background-image: url(images/lp-oc-i/1350/1a.png);
    background-size: cover;
    background-position: bottom;
    max-height: 540px;
    min-height: 200px;
    height: 58vw;
    @media (max-width: 576px) {
      background-image: url(images/lp-oc-i/320/1.png);
      background-size: cover;
    }
    @media  (min-width: 577px) and (max-width: 767px) {
      background-image: url(images/lp-oc-i/1350/1a.png);
      background-size: cover;
      height: 50vw;
    }
    &-mobile {
      padding: 0;
      min-height: 256px;
      .img1 {
        background-image: url(images/lp-oc-i/320/1.png);
        height: 256px;
        padding: 0 30px;
        background-position: center;
        background-size: cover;
      }
      .img2 {
        background-image: url(images/lp-oc-i/320/2.png);
        height: 256px;
        padding: 0 30px;
        background-position: center;
        background-size: cover;
      }
    }
  }
  &-icon {
    position: relative;
    .icon {
      position: absolute;
      bottom: 1vw;
      height: 13vw;
      max-height: 135px;
      width: auto;
      @media (max-width: 576px) {
        bottom: 9px;
        height: 75px;
        width: 169px; 
      }
      @media (min-width: 1350px) {
        bottom: 21px;
        height: 135px;
        width: 304px;
      }
    }
  }
  &-sub {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.5vw;
    line-height: 2.6vw;
    margin-top: 22vw;
    font-weight: 600;
    margin-bottom: 0;
    position: relative;
    @media (max-width: 576px) {
      font-size: 15px;
      line-height: 23px;
      margin-top: 88px;
    }
    @media(min-width: 577px) and (max-width: 767px) {
      font-size: 3vw;
      line-height: 3.5vw;
      margin-top: 16vw;
    }
    @media (min-width: 1024px) {
      font-size: 35px;
      line-height: 53px;
      margin-top: 189px;
    }
  }
  &-main {
    color: #ffffff;
    font-weight: 600;
    font-size: 6vw;
    margin:0;
    @media (max-width: 576px) {
      font-size: 30px;
      line-height: 46px;
    }
    @media(min-width: 577px) and (max-width: 767px) {
      font-size: 6vw;
      line-height: 6.4vw;
    }
    @media (min-width: 1024px) {
      font-size: 55px;
      line-height: 83px;
    }
  }
}

.info {
  &-green {
    background: #A9D8A2 !important;
  }
  .container {
    padding: 0;
    background-color: #82B68F;
    color: white;
  }
  .row{
    width: 100%;
  }
  &-image {
    @media (min-width: 577px) {
      display: flex;
      align-items: stretch;
      .technology__header {
        height: 100%;
        max-height: none;
      }
    }
    
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @media (max-width: 767px) {
      height: 213px;
    }
    .row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0 23px;
      @media (min-width: 577px) {
        padding-right: 3vw;
        padding-left: 3vw;
      }
      .list{
        align-items: center;
        display: flex;
        justify-content: center;
        &:nth-child(2n) {
          justify-content: start;
        }
      }
      img{
        padding: 7px;
        @media (min-width: 577px) {
          width: 100%;
          max-width: 218px;
        }
      }
    }
  }
  &__content {
    padding: 65px 65px 30px 75px;
    @media (max-width: 767px) {
      padding: 30px 30px 10px 30px;
    }
    @media (min-width: 768px) and (max-width: 1023px){
      padding: 5vw;
    }
    h2{
      font-size: 30px;
      line-height: 45px;
      font-weight: 600;
      margin: 0;
      @media (max-width: 767px) {
          font-size: 15px;
          line-height: 22px;
      }
      @media (min-width: 768px) and (max-width: 1349px){
        font-size: 3vw;
        line-height: 3.3vw;
      }
    }
    ul{
      padding-left: 0;
      list-style: none;
      margin-top: 5vw;
      margin-bottom: 0;
      @media (max-width: 767px) {
        margin-top: 29px;
      }
      @media (min-width: 1024px) {
        margin-top: 62px;
      }
    }
    li{
      font-size: 2vw;
      line-height: 2.8vw;
      font-weight: 400;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 767px) {
          font-size: 12px;
          line-height: 15px;
      }
      @media (min-width: 1024px) {
        font-size: 20px;
        line-height: 30px;
      }
      .icon{
        height: 4.3vw;
        width: 4.3vw;
        margin-bottom: 2vw;
        @media (max-width: 767px) {
          height: 30px;
          width: 30px;
          margin-bottom: 6px;
        }
        @media (min-width: 1024px) {
          height: 60px;
          width: 60px;
          margin-bottom: 25px;
        }
      }
      .title {
        font-size: 2vw;
        line-height: 2.2vw;
        text-align: center;
        margin: 0;
        @media (max-width: 767px) {
          font-size: 12px;
          line-height: 15px;
        }
        @media (min-width: 1024px) {
          font-size: 19px;
          line-height: 23px;
        }
      }
    }
  }
  .image-color {
    display: flex;
    align-items: center;
    margin-top: 0;
    .color{
      margin: 1vw;
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
      img{
        width: 100%;
        max-height: 350px;
        min-height: 167px;
      }
    }
  }
  
  .box {
   display: flex;
   align-items: center;
    &-item{
      height: 5vw;
      width: 5vw;
      border-radius: 10px;
      float: left;
      margin: 1rem 1rem 1rem 0;
      @media (max-width: 767px) {
        height: 33px;
        width: 33px;
        margin: .3rem 1rem .3rem 0;
      }
      @media (min-width: 1300px) {
        height: 70px;
        width: 70px;
      }
    }
  }
  .box1{
    background:#88BF85;
  }
  .box2{
    background:#EAB09E;
  }
  h3{
    font-size: 35px;
    line-height: 40px;
    font-weight: 600;
    margin:0 0 1rem 0;
    @media (max-width: 767px) {
      font-size: 17px;
      line-height: 20px;
    }
    @media (min-width: 768px) and (max-width: 1023px){
      font-size: 3vw;
      line-height: 3.3vw;
    }
  }
}

.feature {
  &__container {
    padding-top: 4vw;
    padding-bottom: 4vw;
    color: #ffffff;
    background: #82B68F;
    @media (max-width: 576px) {
      padding-top: 30px;
      padding-bottom: 0;
    }
    @media (min-width: 1350px) {
      padding-top: 65px;
      padding-bottom: 60px;
    }
    h2{
      font-size: 35px;
      line-height: 53px;
      margin: 0;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 767px) {
        font-size: 15px;
        line-height: 23px;
      }
    }
  }
  &__list {
    margin-top: 3vw;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 767px) {
      margin: 2rem 0 0 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    @media (min-width: 576px) and (max-width: 767px){
      flex-wrap: none;
      justify-content: space-between;
    }
    @media (min-width: 1350px) {
      margin-top: 50px;
    }
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        height: 9vw;
        max-height: 130px;
        width: 9vw;
        max-width: 130px;
        @media (max-width: 767px) {
          height: 75px;
          width: 75px;
        }
      }
      .title {
        font-weight: 400;
        text-align: center;
        margin: 18px 5px 20px;
        @media (max-width: 767px) {
          margin: 8px 0 31px;
        }
      }
    }
  }
 
}

.technology {
  &-green {
    background-color: #CDE6D1;
    color: #82B68F;
  }
  &-gradient-green {
    background: rgb(169,216,162);
    background: linear-gradient(90deg, rgba(169,216,162,1) 0%, rgba(161,192,127,1) 30%);
    color: #ffffff;
    @media (min-width: 576px) {
      background: linear-gradient(90deg, rgba(169,216,162,1) 0%, rgba(161,192,127,1) 60%);
    }
  }
  &-lightgreen{
    background-color: #B4CBAC;
    color: #ffffff;
  }
  &-gradient-green1 {
    background: rgb(88,124,98);
    background: linear-gradient(90deg, rgba(88,124,98,1) 0%, rgba(130,182,143,1) 100%);
    color: #ffffff;
    @media (min-width: 576px) {
      background: linear-gradient(90deg, rgba(88,124,98,1) 0%, rgba(130,182,143,1) 100%);
    }
  }
  &-darkgreen {
    background: #7FA693;
    color: #ffffff;
  }
  .container {
    padding: 0;
  }
  .row {
    width: 100%;
    @media (min-width: 577px) and (max-width: 767px) {
      display: flex;
      align-items: stretch;
    }
  }
  &-image {
    @media (min-width: 768px) {
      display: flex;
      align-items: stretch;
      .technology__header {
        height: 100%;
        max-height: none;
      }
    }
  }
  &__header {
    height: 50vw;
    max-height: 540px;
    background-size: cover;
    background-position: bottom;
    color: white;
    padding: 0 75px;
    @media (max-width: 576px) {
      height: 270px;
      padding: 0 30px;
      background-position: center;
    }
    @media (min-width: 577px) and (max-width: 767px) {
      height: auto;
      padding: 0 30px;
      background-position: center;
    }
    &-small {
      height: 100%;
      background-size: cover;
      background-position: bottom;
      color: white;
      padding: 0 75px;
      @media (max-width: 576px) {
        height: 213px;
        padding: 15px 30px;
        background-position: center;
      }
      @media (min-width: 577px) and (max-width: 767px) {
        height: auto;
        padding: 0 30px;
        background-position: center;
      }
    }
  
    h2{
      font-size: 90px;
      line-height: 92px;
      font-weight: 600;
      letter-spacing: 8px;
      margin: 50px 0 0;
      @media (max-width: 767px) {
        font-size: 50px;
        line-height: 56px;
        margin: 30px 0 0;
      }
      @media (min-width: 768px) and (max-width: 1023px){
        font-size: 10vw;
        line-height: 11vw;
      }
    }
    h3{
      font-size: 35px;
      line-height: 40px;
      font-weight: 600;
      margin: 65px 0 11px 0;
      @media (max-width: 767px) {
          font-size: 17px;
          line-height: 20px;
          margin: 30px  0 10px 0;
      }
      @media (min-width: 768px) and (max-width: 1023px){
        font-size: 3vw;
        line-height: 3.3vw;
      }
    }
    p{
      margin: 0;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      @media (max-width: 767px) {
        font-size: 16px;
        letter-spacing: 0;
      }
    }
    .text--tiny {
      text-transform: none;
      font-size: 12px;
      letter-spacing: 0;
    }
  }
  &__content {
    padding: 65px 75px 60px 75px;
    @media (max-width: 767px) {
      padding: 30px 30px 30px 30px;
    }
    @media (min-width: 768px) and (max-width: 1023px){
      padding: 5vw;
    }
    .uppercase{
      text-transform: uppercase;
      font-weight: 600;
    }
    h3 {
      font-size: 30px;
      line-height: 46px;
      font-weight: 600;
      margin: 0;
      @media (max-width: 767px) {
          font-size: 15px;
          line-height: 20px;
      }
      @media (min-width: 768px) and (max-width: 1349px){
        font-size: 3vw;
        line-height: 3.3vw;
      }
    }
    ul{
      padding-left: 20px;
      list-style-position: outside;
    }
    li{
      font-size: 2vw;
      line-height: 2.8vw;
      font-weight: 400;
      margin-bottom: 10px;
      @media (max-width: 767px) {
        font-size: 12px;
        line-height: 15px;
      }
      @media (min-width: 1024px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
    .img {
      height: 12vw;
      max-height: 240px;
      min-height: 130px;
      margin-bottom: 2vw;
    }
    .imgface {
      height: 10vw;
      max-height: 120px;
      min-height: 80px;
    }
    
  }


  .img4{
    background-image: url(images/lp-oc-i/1350/4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @media (max-width: 576px) {
    background-image: url(images/lp-oc-i/320/4.png);
    background-size: auto;
    }
  }
  .img5{
    background-image: url(images/lp-oc-i/1350/5.png);
    background-position: center;
    @media (max-width: 576px) {
    background-image: url(images/lp-oc-i/320/5.png);
    }
  }
  .img7{
    background-image: url(images/lp-oc-i/1350/7.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @media (max-width: 576px) {
      background-image: url(images/lp-oc-i/320/7.png);
      background-size: auto;
    }
    @media (min-width: 577px) and (max-width: 1200px) {
      background-size: contain;
    }
  }
  .img12{
    background-image: url(images/lp-oc-i/1350/12.png);
    background-position: center;
    @media (max-width: 576px) {
    background-image: url(images/lp-oc-i/320/12.png);
    }
  }
  .img13{
    background-image: url(images/lp-oc-i/1350/13.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @media (max-width: 576px) {
      background-image: url(images/lp-oc-i/320/13.png);
      background-size: contain;
    }
    @media (min-width: 577px) and (max-width: 1023px) {
      background-size: contain;
    }
  }
  .img14{
    background-image: url(images/lp-oc-i/1350/14.png);
    background-position: bottom right;
    background-size: cover;
    height: 100%;
    @media (max-width: 576px) {
      background-image: url(images/lp-oc-i/320/14.png);
      height: 289px;
    }
    @media (min-width: 577px) and (max-width: 767px) {
      height: auto;
    }
    @media (min-width: 1349px) {
      height: 610px;
    }
  }
  .img15{
    background-image: url(images/lp-oc-i/1350/15.png);
    background-position: center;
    height: 100%;
    @media (max-width: 576px) {
      background-image: url(images/lp-oc-i/320/15.png);
      height: 289px;
    }
    @media (min-width: 577px) and (max-width: 767px) {
      height: auto;
    }
    @media (min-width: 1349px) {
      height: 540px;
    }
  }
  .img18{
    background-image: url(images/lp-oc-i/1350/18.png);
    background-position: center;
    height: 40vw;
    max-height: 540px;
    @media (max-width: 576px) {
      background-image: url(images/lp-oc-i/320/18.png);
      height: 256px;
    }
  }
  .img19{
    background-image: url(images/lp-oc-i/1350/19.png);
    background-position: center;
    height: 40vw;
    max-height: 610px;
    @media (max-width: 576px) {
      background-image: url(images/lp-oc-i/320/19.png);
      height: 289px;
    }
  }
  .img29{
    background-image: url(images/lp-oc-i/1350/29.png);
    background-position: left bottom;
    background-size: cover;
    height: 100%;
    @media (max-width: 576px) {
      background-image: url(images/lp-oc-i/320/29.png);
      height: 289px;
    }
    @media (min-width: 577px) and (max-width: 767px) {
      height: auto;
    }
    @media (min-width: 1349px) {
      height: 610px;
    }
  }
 
}

.about {
  .container {
    padding: 0;
    background: #A9D8A2;
    color: #ffffff;
  }
  &__header {
    height: 40vw;
    max-height: 540px;
    min-height: 128px;
    background-image: url(images/lp-oc-i/1350/6.png);
    background-size: cover;
    @media (max-width: 576px) {
    background-image: url(images/lp-oc-i/320/6.png);
    }
  }
  &__content {
    padding: 65px 75px 60px 75px;
    @media (max-width: 767px) {
      padding: 30px 30px 0 30px;
    }
    @media (min-width: 768px) and (max-width: 1023px){
      padding: 3vw;
    }
    ul{
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li{
        margin-bottom: 4vw;
        padding-right: 1.5rem;
        @media (min-width: 1024px) {
          margin-bottom: 65px;
        }
        @media (min-width: 577px) {
          position: relative;
        }
        .description {
          @media (min-width: 577px) {
            padding-bottom: 25px;
          }
        }
        .intensity {
          @media (min-width: 577px) {
            position: absolute;
            bottom: 0;
          }
        }
      }
      li:not(:last-child) {
        @media (max-width: 576px) {
          margin-bottom: 32px;
        }
      }
      img{
        height: 34px;
        @media (max-width: 767px) {
          height: 20px;
        }
      }
      .title {
        font-size: 2.4vw;
        line-height: 2.6vw;
        margin: .6em 0;
        font-weight: 600;
        text-transform: uppercase;
        @media (max-width: 767px) {
          font-size: 15px;
          line-height: 17px;
        }
        @media (min-width: 1024px) {
          font-size: 35px;
          line-height: 38px;
        }
      }
      p{
        font-size: 2vw;
        line-height: 2.4vw;
        font-weight: 400;
        @media (max-width: 767px) {
          font-size: 12px;
          line-height: 14px;
        }
        @media (min-width: 1024px) {
          font-size: 17px;
          line-height: 19px;
        }
      }
    }
  }
  .px3 {
    padding: 3px;
    @media (max-width: 767px) {
      padding: 2px;
    }
  }
  .px6 {
    padding: 6px;
    @media (max-width: 767px) {
      padding: 4px;
    }
  }
  .px9 {
    padding: 9px;
    @media (max-width: 767px) {
      padding: 6px;
    }
  }
}
.footer {
  &__container {
    background: #CDE6D1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .title {
      font-size: 3vw;
      line-height: 3.3vw;
      font-weight: 600;
      background-color: #CDE6D1;
      color: #82B68F;
      padding: 0 4vw;
      margin: 5vw 0;
      position: relative;
      z-index: 2;
      @media (max-width: 767px) {
        font-size: 15px;
        line-height: 21px;
        margin: 30px 0;
      }
      @media (min-width: 1024px) { 
        margin: 65px;
        font-size: 35px;
        line-height: 53px;
      }
    }
    .line {
      width: 100%;
      border-bottom: solid 1px #82B68F;
      position: absolute;
      bottom: 50%;
      left: 0;
      margin: 0;
      z-index: 1;
    }
  }
  &__icons {
    background: #CDE6D1;
    margin-top: -20px;
    .title{
      color: black;
      text-align: center;
      font-size: 1.5vw;
      line-height: 1.8vw;
      font-weight: 400;
      @media (max-width: 767px) { 
        font-size: 10px;
        line-height: 15px;
        padding: 0 4px;
      }
      @media (min-width: 1024px) { 
        font-size: 16px;
      line-height: 20px;
      }
    }
    ul {
      padding: 0;
      padding: 0 0 4vw 0;
      list-style: none;
      @media (min-width: 1024px) {
        .col-lg-1 {
          width: 11%;
        }
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
          height: 90px;
          @media (max-width: 767px) {
            height: 60px;
          }
        }
      }
    }
  
  }

}
 
}